<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="text-center">
      <div class="mb-4">
        <%= image_tag "logo.png", class: "h-12 mx-auto", alt: "Code for America Logo" %>
      </div>
      <p class="text-lg mb-6">Website PDF Accessibility Checker</p>
    </div>
    <%= form_with url: session_path, :html => { :id => "login-form" } do |form| %>
      <% has_errors = @session.present? && @session.errors.any? %>
      <% if has_errors %>
        <% @session.errors.full_messages.each do |msg| %>
          <div data-toast-target="container" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded shadow-lg text-sm mt-2 mb-4">
            <p>
              <i class="fas fa-exclamation-circle mr-2"></i>
              <%= msg %>
            </p>
          </div>
        <% end %>
      <% end %>
      <div class="form-control w-full">
        <label class="label" for="email_address">
          <span class="label-text text-black">Email Address</span>
        </label>
        <%= form.email_field :email_address,
                             id: "email_address",
                             required: true,
                             autofocus: true,
                             autocomplete: "email",
                             placeholder: "you@example.com",
                             value: params[:email_address],
                             class: "input input-bordered border-black w-full " + (has_errors ? " input-error " : ""),
                             "aria-required": true %>
      </div>
      <div class="form-control w-full mt-4">
        <label class="label" for="password">
          <span class="label-text text-black">Password</span>
        </label>
        <%= form.password_field :password,
                                id: "password",
                                required: true,
                                autocomplete: "current-password",
                                placeholder: "Enter your password",
                                maxlength: 72,
                                class: "input input-bordered border-black w-full "  + (has_errors ? " input-error " : ""),
                                "aria-required": true %>
      </div>
      <div class="form-control mt-6">
        <%= form.button type: "submit", id: "submit-session-form", class: "btn btn-primary text-white" do %>
          <i class="fas fa-sign-in-alt mr-2"></i>
          Login
        <% end %>
      </div>
    <% end %>
  </div>
</div>
