<% content_for :head do %>
  <%= tag.meta name: "site-id", content: @site.id %>
<% end %>
<div class="py-6">
  <div class="mx-auto px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-[250px_1fr] lg:gap-6">
      <div id="sidebar" class="space-y-6 mb-6">
        <%= render partial: "shared/site_navigation", locals: { site: @site } %>
        <%= render partial: "shared/filter", locals: { site: @site, documents: @documents, total_documents: @total_documents } %>
      </div>
      <div id="document-list" class="px-0 space-y-0 md:overflow-x-scroll">
        <div class="bg-gray-50 shadow-sm rounded-t-lg px-6 py-4  border-b-gray-200 border-b">
          <div class="flex justify-between items-center">
            <h1 class="text-lg font-medium"><%= @site.location %>: <%= @site.name %></h1>
            <div role="tablist" id="document-tabs" class="tabs tabs-boxed">
              <%= link_to site_documents_path(@site), role: "tab", class: "tab tab-active" do %>
                Documents
              <% end %>
              <%= link_to insights_site_path(@site), role: "tab", class: "tab" do %>
                Insights
              <% end %>
            </div>
          </div>
        </div>
        <div class="bg-white shadow-sm rounded-b-lg overflow-x-scroll">
          <div data-controller="bulk-edit" data-bulk-edit-site-id-value="<%= params[:site_id] %>">
            <table class="min-w-full divide-y divide-gray-200 table-zebra">
              <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="tracking-wider w-12 py-4 px-3">
                  <label class="text-left text-left text-xs font-medium text-gray-500 uppercase relative-bump-top">
                    Move
                    <br/>
                    <input type="checkbox" class="bulk-edit-all" data-bulk-edit-target="selectAll" data-action="click->bulk-edit#handleCheckAll"/>
                  </label>
                </th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= link_to site_documents_path(@site, sort: 'file_name', direction: (params[:sort] == 'file_name' && params[:direction] != 'desc') ? 'desc' : 'asc', **@filters_for_sorts), class: "group inline-flex items-center" do %>
                    File Name
                    <% if params[:sort] == 'file_name' %>
                      <i class="fas fa-<%= params[:direction] == 'desc' ? 'sort-down' : 'sort-up' %> ml-1 text-primary-500"></i>
                    <% else %>
                      <i class="fas fa-sort ml-1 text-gray-400 group-hover:text-gray-500"></i>
                    <% end %>
                  <% end %>
                </th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= link_to site_documents_path(@site, sort: 'modification_date', direction: (params[:sort] == 'modification_date' && params[:direction] != 'desc') ? 'desc' : 'asc', **@filters_for_sorts), class: "group inline-flex items-center" do %>
                    Last Modified
                    <% if params[:sort] == 'modification_date' %>
                      <i class="fas fa-<%= params[:direction] == 'desc' ? 'sort-down' : 'sort-up' %> ml-1 text-primary-500"></i>
                    <% else %>
                      <i class="fas fa-sort ml-1 text-gray-400 group-hover:text-gray-500"></i>
                    <% end %>
                  <% end %>
                </th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= link_to site_documents_path(@site, sort: 'document_category', direction: (params[:sort] == 'document_category' && params[:direction] != 'desc') ? 'desc' : 'asc', **@filters_for_sorts), class: "group inline-flex items-center" do %>
                    Type
                    <% if params[:sort] == 'document_category' %>
                      <i class="fas fa-<%= params[:direction] == 'desc' ? 'sort-down' : 'sort-up' %> ml-1 text-primary-500"></i>
                    <% else %>
                      <i class="fas fa-sort ml-1 text-gray-400 group-hover:text-gray-500"></i>
                    <% end %>
                  <% end %>
                </th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Decision</th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Notes</th>
              </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
              <% if @documents.empty? %>
                <tr>
                  <td colspan="7" class="px-3 py-8">
                    <div class="flex items-center justify-center text-gray-500">
                      <i class="fas fa-folder-open mr-2"></i>
                      <span>No documents found</span>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% @documents.each do |document| %>
                <tr>
                  <td class="px-3 py-4 text-center whitespace-nowrap">
                    <label>
                      <input type="checkbox" class="bulk-edit-document" data-bulk-edit-target="selectOne" data-action="click->bulk-edit#handleCheckOne" data-bulk-edit-document-id-value="<%= document.id %>"/>
                    </label>
                  </td>
                  <td class="px-3 py-4 text-sm" title="<%= document.file_name %>" data-controller="modal">
                    <div class="text-gray-900">
                      <button data-action="click->modal#openModal" class="text-left">
                        <i class="fas fa-file-pdf text-sm"></i> <%= document.file_name&.truncate(80) %>
                      </button>
                    </div>
                    <% source = document_source(document.primary_source) %>
                    <div class="text-gray-400">
                      <%= source[:text] %>
                      <% if source[:url].present? %>
                        <a href="<%= source[:url] %>" target="_blank" rel="noopener noreferrer" class="ml-1 text-primary-600 hover:text-primary-900" title="Open source in new tab">
                          <i class="fas fa-external-link-alt text-sm"></i>
                        </a>
                      <% end %>
                    </div>
                    <%= render partial: "documents/pdf_modal", locals: { document: document } %>
                  </td>
                  <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500"><%= document.modification_date&.strftime("%b %d, %Y") %></td>
                  <td class="px-3 py-4 max-w-40 text-sm" data-controller="dropdown-edit" data-dropdown-edit-document-id-value="<%= document.id %>" data-dropdown-edit-field-value="document_category">
                    <div data-action="click->dropdown-edit#showSelect" data-dropdown-edit-target="display" class="cursor-pointer <%= document.document_category.present? ? 'text-primary' : 'text-gray-500' %> flex flex-col gap-1">
                      <div class="hover:underline">
                        <%= document.document_category %>
                      </div>
                    </div>
                    <select data-dropdown-edit-target="select" data-action="change->dropdown-edit#updateValue blur->dropdown-edit#hideSelect" class="hidden w-[90%] bg-white border border-gray-300 rounded-md shadow-sm focus:border-primary-500 focus:ring-primary-500 p-2">
                      <% Document::CONTENT_TYPES.each do |key| %>
                        <option value="<%= key %>" <%= document.document_category == key ? 'selected' : '' %>><%= key %></option>
                      <% end %>
                    </select>
                    <% if document.document_category.present? && document.document_category_confidence.present? && !document.last_changed_by_human?("document_category") %>
                      <div class="text-xs text-gray-500 flex items-center gap-1">
                        <i class="fas fa-wand-magic-sparkles"></i>
                        <%= number_to_percentage(document.document_category_confidence * 100, precision: 0) %>
                      </div>
                    <% end %>
                  </td>
                  <td class="px-3 py-4 max-w-40 overflow-hidden text-sm text-gray-500" data-controller="dropdown-edit" data-dropdown-edit-document-id-value="<%= document.id %>" data-dropdown-edit-field-value="accessibility_recommendation">
                    <div data-action="click->dropdown-edit#showSelect" data-dropdown-edit-target="display" class="cursor-pointer text-primary flex flex-col gap-1">
                      <%= document.accessibility_recommendation.present? ? document.accessibility_recommendation : Document::DEFAULT_ACCESSIBILITY_RECOMMENDATION.to_s %>
                    </div>
                    <select data-dropdown-edit-target="select" data-action="change->dropdown-edit#updateValue blur->dropdown-edit#hideSelect" class="hidden w-[90%] bg-white border border-gray-300 rounded-md shadow-sm focus:border-primary-500 focus:ring-primary-500 p-2">
                      <% Document::get_decision_types.each do |key, label| %>
                        <option value="<%= key %>" <%= document.accessibility_recommendation == key ? 'selected' : '' %>><%= label %></option>
                      <% end %>
                    </select>
                    <% if document.accessibility_recommendation_from_inferences.present? %>
                      <div class="text-xs text-gray-500 flex items-center gap-1 truncate">
                        <i class="fas fa-wand-magic-sparkles leave-icon"></i><%= document.accessibility_recommendation_from_inferences %>
                      </div>
                    <% end %>
                  </td>
                  <td class="px-3 py-4 text-sm text-gray-500" data-controller="text-edit" data-text-edit-document-id-value="<%= document.id %>" data-text-edit-field-value="notes">
                    <div data-text-edit-target="display" data-action="click->text-edit#showTextarea" class="cursor-pointer hover:underline min-w-40">
                      <%= document.notes.present? ? document.notes : "No notes" %>
                    </div>
                    <textarea
                      data-text-edit-target="textarea"
                      data-action="blur->text-edit#updateValue keydown->text-edit#updateValue input->text-edit#adjustHeight"
                      class="hidden w-[90%] min-h-[6em] p-2 border border-gray-300 rounded-md shadow-sm focus:border-primary-500 focus:ring-primary-500"
                    ><%= document.notes %></textarea>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <div id="bulk_edit_control" class="w-fit fixed left-0 right-0 ml-auto mr-auto animate-up off-screen-bottom" data-bulk-edit-target="actions">
              <div class="join py-4 bg-white border-2 border-gray-300 border-b-0 shadow-md rounded-b-none">
                <div class="checked-count join-item px-4 border-r border-gray-300 py-1">Selected: <span>1</span>
                </div>
                <div class="join-item px-4 border-r border-gray-300">
                  <select id="bulk-edit-move" name="bulk-edit-move" data-action="bulk-edit#handleMove" class="select select-sm">
                    <option disabled selected>Make Decision</option>
                    <% @decision_values.each do |key, value| %>
                      <option value="<%= key %>"><%= value %></option>
                    <% end %>
                  </select>
                </div>
                <div class="join-item clear px-4 py-1">
                  <button data-action="bulk-edit#handleCloseActions"><i class="fas fa-x"></i></button>
                </div>
              </div>
            </div>
            <dialog id="bulk_edit_modal" class="modal" data-bulk-edit-target="modal">
              <div class="modal-box">
                <h3 class="text-lg font-bold"></h3>
                <p class="py-4"></p>
                <div class="modal-action">
                  <button class="btn btn-primary" data-action="bulk-edit#handleConfirm">
                    <i class="fas fa-check"></i>Confirm
                  </button>
                  <button class="btn" data-action="bulk-edit#handleCancel">Cancel</button>
                </div>
              </div>
              <form method="dialog" class="modal-backdrop">
                <button>close</button>
              </form>
            </dialog>
          </div>
          <div class="px-6 py-4 <%= "border-t" if @total_documents > 25 %>">
            <%= paginate @documents %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
