<div class="py-6">
  <div class="mx-auto px-6 lg:px-8">
    <div id="user-list" class="px-0 space-y-0 md:overflow-x-scroll">
      <div class="bg-gray-50 shadow-sm rounded-t-lg px-6 py-4  border-b-gray-200 border-b">
        <div class="flex justify-between items-center">
          <h1 class="text-lg font-medium">Manage Users</h1>
          <a href="<%= new_admin_user_path(@user) %>"  class="btn btn-primary text-white">
            <i class="fas fa-plus mr-2"></i>
            Add User
          </a>
        </div>
      </div>
      <div class="bg-white shadow-sm rounded-b-lg overflow-x-scroll">
        <table class="min-w-full divide-y divide-gray-200 table-zebra">
          <thead>
            <tr>
              <th scope="col" class="tracking-wider text-left py-4 px-3">Email</th>
              <th scope="col" class="tracking-wider text-left py-4 px-3">Site</th>
              <th scope="col" class="tracking-wider text-left py-4 px-3">Site Admin</th>
              <th scope="col" class="tracking-wider text-left py-4 px-3">User Admin</th>
              <th scope="col" class="tracking-wider text-left py-4 px-3">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="tracking-wider text-left text-sm py-4 px-3"><%= user.email %></td>
                <td class="tracking-wider text-left text-sm py-4 px-3"><%= user.site.present? ? user.site.name : "None" %></td>
                <td class="tracking-wider text-left text-sm py-4 px-3"><%= user.is_site_admin? ? "Yes" : "No" %></td>
                <td class="tracking-wider text-left text-sm py-4 px-3"><%= user.is_user_admin? ? "Yes" : "No" %></td>
                <td class="tracking-wider text-left text-sm py-4 px-3">
                  <%= link_to "Edit", edit_admin_user_path(user), class: "text-primary" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>